%section
  %article
    .container
      .row
        .col-md-12
          %h1 
            Newsletters
%section
  .container
    .row
      .col-md-12
        .row
          .panel.panel-default
            .panel-body
              = render 'form'
