#fellowships.tab-pane
  .inner-padding
    .client-block
      %ul.client-block-list
        .alert.alert-success
          %i.fa.fa-check-circle
          You are subscribed to items in green 
        - if user == current_user
          .pull-right
            = link_to edit_users_fellowship_user_path(user) do 
              %i.fa.fa-edit
              Edit
        - user.fellowship_users.each do |f|
          %li
            - if f.opt_in
              %strong.text-success= f.fellowship.name
            - else
              %span.text-muted= f.fellowship.name
