#newsletters.tab-pane
  .inner-padding
    .client-block
      %ul.client-block-list
        .alert.alert-success
          %i.fa.fa-check-circle
          You are subscribed to items in green 
        - if user == current_user
          .pull-right
            = link_to edit_users_email_campaing_user_path(user) do 
              %i.fa.fa-edit
              Edit
        - email_campaings.each do |ec|
          - list = Gibbon::API.lists.list({:filters => {:list_name => "#{ec.name}"}})
          - if list['data'] != []
            - if ec.email_campaing_users.where(:user_id => current_user).last.opt_in 
              %strong.text-success
                %li= ec.name 
            - else
              %span.text-muted 
                %li= ec.name 
      
